
.App-header {
  text-align: center;
  background-color: #222;
  margin-bottom: 15px;
  height: 100px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

textarea {
  width: 100%;
  height: 60vh;
}
